<h2>Sign up for Marvellist!</h2>

 <form method='post' action='/users' id='registration_form'>
   <input type='text' name='username' placeholder='username' />
   <input type='password' name='password' placeholder='password' />
   <input type='submit' value='Sign Up' />
 </form>

 <% if @errors %>
   <%  @errors.each do |error_message| %>
     <p><%= error_message %></p>
   <% end %>
 <% end %>