<section id='list-series'>
  <h2 id='all-series-header'>Browse Series</h2>

  <ul>
    <% @series.each do |series| %>
      <li class='add-series'>
        <p>
          <a href="<% series["link"] %>"><%= series["title"] %></a>
        </p>

        <% if current_user && !(current_user.series.include?(series)) %>
          <form action='/subscribe/<%= series["id"] %>' method='post' class='add-new-subscription'>
            <input type="submit" value="Subscribe">
          </form>
        <% end %>
      </li>
    <% end %>
  </ul>

</section>--