<h2>Log In:</h2>

<form method="post" action="/login" id="login_form">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <input type="submit" value="Log In">
</form>

<% if @failed_login %>
    <p>Your username or password was entered incorrectly.</p>
<% end %>
