<!DOCTYPE html>
<html>
<head>
  <title>Marvellist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Hind:400,700|Exo+2:400,700|Maven+Pro:400,900' rel='stylesheet' type='text/css'>
</head>
<body>

	<header>
  	<h1>
  		<a id="home-link" href="/">marvellist</a>
  	</h1>
  </header>
  <nav>
  	<ul>
  		<li>Manage Subscriptions</li>
  		<li>History</li>
  		<li>About</li>
  		<li>Log Out</li>
  	</ul>
  </nav>

<%= yield %>

</body>
</html>
